{% extends "base.html" %} {% block title %} Plan {% endblock %} {% block content
%}

<div class="px-5" style="font-family: cursive">
  <div class="mt-3">
    <div>

    <div class="container" style="width: 100%">
        <div class="row">
            <div class="col-4">

              <form method="POST" action="/result">
                <h3>1️⃣ Type your Query here</h3>
                <textarea
                  class="form-control"
                  id="queryTextArea"
                  name="queryText"
                  rows="5"
                  placeholder="SELECT..."
                ></textarea>
                <div class="text-center">
                  <button style="background-color: #02782c;border-radius: 50%;" id="btnFetch" type="submit" class="btn btn-Dark">
                    Submit
                  </button>
                    <hr />
                  <h3>2️⃣ Submitted Query</h3>
                  {% if query %}
                  <div class="code">{{query}}</div>
                  {% else %}
                  <span>Waiting for submission...</span>
                  {% endif %}
                  <hr />
                </div>
              </form>
            </div>
            <div class="col-8">
                <h3>3️⃣ Query Info</h3>
                  <ul>
                    <li>Total Cost: {{total_cost}}</li>
                    <li>Total no. of index scans: {{total_index_scan}}</li>
                    <li>Total no. of sequential scans: {{total_seq_scan}}</li>
                    <li>Total no. of rows: {{total_plan_rows}}</li>
                  </ul>
                  <hr />
                  <h3 class="mt-3">4️⃣ Logic behind Optimal QEP</h3>
                  {% if total_cost %}
                  <p class="mt-3">Total cost: {{total_cost}}</p>
                  {% endif %} {% if explanation %}
                  <ol>
                    {% for item in explanation %}
                    <li>{{item | safe}}</li>
                    {% endfor %}
                  </ol>
                  {% else %}
                  <span>Insert query to begin</span>
                  {% endif %} {% if graph %}
                  <hr />
                  <h3 class="mt-3">5️⃣ Optimal QEP - Visualization</h3>
                  <img
                    src="{{ url_for('static', filename=graph) }}"
                    width="600"
                    height="400"
                  />
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
