{% extends "base.html" %} {% block title %} Plan {% endblock %} {% block content
%}

<div class="px-5">
  <div class="mt-3">
    <div>
      <form method="POST" action="/result">
        <h3>1️⃣ Input Query</h3>
        <textarea
          class="form-control"
          id="queryTextArea"
          name="queryText"
          rows="5"
          placeholder="SELECT * FROM customer;"
        ></textarea>
        <div class="text-center">
          <button id="btnFetch" type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div>
      <hr />
      <h3>2️⃣ Submitted Query</h3>
      {% if query %}
      <div class="code">{{query}}</div>
      {% else %}
      <span>Submit your query above to begin</span>
      {% endif %}
      <hr />
      <h3>3️⃣ Key Metrics</h3>
      <ul>
        <li>Cost: {{total_cost}}</li>
        <li>Number of index scans: {{total_index_scan}}</li>
        <li>Number of sequential scans: {{total_seq_scan}}</li>
        <li>Number of rows: {{total_plan_rows}}</li>
      </ul>
      <hr />
      <h3 class="mt-3">4️⃣ Optimal QEP - Explanation</h3>
      {% if total_cost %}
      <p class="mt-3">Total cost: {{total_cost}}</p>
      {% endif %} {% if explanation %}
      <ol>
        {% for item in explanation %}
        <li>{{item | safe}}</li>
        {% endfor %}
      </ol>
      {% else %}
      <span>Insert query to begin</span>
      {% endif %} {% if graph %}
      <hr />
      <h3 class="mt-3">5️⃣ Optimal QEP - Visualization</h3>
      <img
        src="{{ url_for('static', filename=graph) }}"
        width="600"
        height="400"
      />
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
